/* Progress stepper styles */
.op-progress > li.is-active ~ li:before,
.op-progress > li.is-active:before {
  content: counter(stepNum);
  font-family: inherit;
  font-weight: 500;
}
.op-progress > li.is-active ~ li:after,
.op-progress > li.is-active:after {
  background-color: #ededed;
}

.op-progress {
  display: table;
  margin-bottom: 40px;
  table-layout: fixed;
  width: 100%;
}
.op-progress > li {
  color: #f09142;
  counter-increment: stepNum;
  display: table-cell;
  position: relative;
  text-align: center;
}
.op-progress > li:before {
  background-color: #ffffff;
  border-color: #f09142;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  content: "";
  content: "✓;";
  content: "𐀃";
  content: "𐀄";
  content: "✓";
  display: block;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  margin: 0 auto 4px;
  text-align: center;
  width: 32px;
}
.op-progress > li:first-child:before {
  margin: 0;
}
.op-progress > li:after {
  background-color: #f09142;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  top: 16px;
  width: 100%;
  z-index: -1;
}
.op-progress > li:last-child:after {
  display: none;
}
.op-progress > li.is-active:before {
  background-color: #f09142;
  border-color: #f09142;
  color: #ffffff;
}
.op-progress > li.is-active ~ li {
  color: var(--base-light__border);
}
.op-progress > li.is-active ~ li:before {
  background-color: #ededed;
  border-color: #f09142;
}
