/* Progress stepper styles */
.op-progress {
  display: flex;
  width: 100%;

}
.op-progress > li.is-active ~ li:before,
.op-progress > li.is-active:before {
  content: counter(stepNum);
  font-family: inherit;
  font-weight: 500;
}
.op-progress > li.is-active ~ li:after,
.op-progress > li.is-active:after {
  background-color: var(--base-disable__light);
}


.op-progress > li {
  color:var(--primary-main);
  flex-grow: 1;
  counter-increment: stepNum;
  display: flex;
  flex-direction:column;
  position: relative;
  text-align: center;
}
.op-progress > li:before {
  background-color: var(--primary-main);
  color:white;
  border-radius: 50%;
  content: "";
  content: "✓;";
  content: "𐀃";
  content: "𐀄";
  content: "✓";
  display: block;
  height: 2rem;
  width: 2rem;
  line-height: 32px;
  margin-bottom:0.5rem;
  margin: 0 auto 4px;
  text-align: center;

}

.op-progress > li:after {
  background-color: var(--primary-main);
  content: "";
  height: 2px;
  position: absolute;
  top: 16px;
  width: 100%;
  z-index: -1;
  left:50%;
}

.op-progress > li.is-active:before {
  background-color: var(--primary-main);
  border-color: var(--primary-main);
  color: white;
}
.op-progress > li.is-active ~ li {
  color: var(--base-disable__light);
}
.op-progress > li.is-active ~ li:before {
  background-color: var(--base-light__surface);
  color:var(--base-disable__light);
  border: solid 2px var(--base-disable__light);
}

.op-progress > li:last-child:after {
  display: none;
}
/* Progress details styles */
.op-progress-details